.button {
  --color-high: var(--color-theme-red-400);
  --color-low: var(--color-black);
  background-clip: padding-box;
  background-color: transparent;
  color: var(--color-high);
  border-color: var(--color-high);
  transition:
    background-color 0.4s steps(2, end),
    color 0.4s steps(2, end),
    border-color 0.4s steps(2, end);
}

.button:hover:not(:disabled),
.button:global(.active) {
  background-color: var(--color-high);
  color: var(--color-low);
}

.button:disabled {
  --color-high: var(--color-theme-gray-400);
  cursor: not-allowed;
}

.success {
  --color-high: var(--color-theme-green-400);
}

.info {
  --color-high: var(--color-theme-blue-400);
}

.warn {
  --color-high: var(--color-theme-orange-200);
}
