.button {
  --color-high: theme("colors.theme.red.400");
  --color-low: theme("colors.theme.gray.800");

  background-clip: padding-box;
  background-color: transparent;
  color: var(--color-high);
  border-color: var(--color-high);

  transition: background-color 0.4s steps(2, end),
    color 0.4s steps(2, end),
    border-color 0.4s steps(2, end);
}

.button:hover,
.button:global(.active)
 {
  background-color: var(--color-high);
  color: var(--color-low);
  border-color: transparent;
}

.success {
  --color-high: theme("colors.theme.green.400");
}

.info {
  --color-high: theme("colors.theme.blue.400");
}
