.title {
  text-shadow: 0 0.02em 0 theme("textColor.red.900");
  animation:
    fadeIn-0-50 1.5s steps(2, end) 1s normal forwards,
    fadeIn-50-100 1s steps(2, end) 2.5s normal forwards;
}

.chevron {
  animation:
    fadeIn-0-50 1s steps(2, end) 6s normal forwards,
    fadeIn-50-100 0.5s steps(2, end) 7s normal forwards,
    float 0.8s steps(3, end) infinite;
}

@keyframes fadeIn-0-50 {
  from {
    opacity: 0
  }

  to {
    opacity: 0.5
  }
}

@keyframes fadeIn-50-100 {
  from {
    opacity: 0.5
  }

  to {
    opacity: 1
  }
}

@keyframes float {
  from {
    transform: translateY(-20px);
  }

  to {
    transform: translateY(0px);
  }
}
