@import 'tailwindcss';
@plugin '@tailwindcss/typography';

/* https://tailwindcss.com/docs/dark-mode */
@custom-variant dark (&:where(.dark, .dark *));

/* https://github.com/tailwindlabs/tailwindcss/issues/16904 */
@theme static {
  --color-theme-gray-100: #ffffff;
  --color-theme-gray-200: #bebebe;
  --color-theme-gray-400: #858585;
  --color-theme-gray-600: #161616;
  --color-theme-gray-800: #000000;

  --color-theme-red-200: #ea552d;
  --color-theme-red-400: #e51716;
  --color-theme-red-600: #92080f;
  --color-theme-red-800: #5e040e;

  --color-theme-orange-200: #e4a20d;
  --color-theme-orange-400: #c97b07;
  --color-theme-orange-600: #ad5d01;
  --color-theme-orange-800: #883b01;

  --color-theme-yellow-200: #fffe81;
  --color-theme-yellow-400: #e8db6d;
  --color-theme-yellow-600: #bfa850;
  --color-theme-yellow-800: #a78a3f;

  --color-theme-tan-200: #f6e4d4;
  --color-theme-tan-400: #d4bea5;
  --color-theme-tan-600: #a18a74;
  --color-theme-tan-800: #846c5f;

  --color-theme-green-200: #c1e955;
  --color-theme-green-400: #91cf30;
  --color-theme-green-600: #61b327;
  --color-theme-green-800: #44941a;

  --color-theme-blue-200: #1e5898;
  --color-theme-blue-400: #1b3562;
  --color-theme-blue-600: #15233e;
  --color-theme-blue-800: #0c0f1d;

  --font-cursive: Nothing You Could Do, cursive;
  --font-mono: 'Syne Mono', ui-monospace, SFMono-Regular, Menlo, Monaco,
    Consolas, 'Liberation Mono', 'Courier New', monospace;
  --font-pixel: 'Silkscreen', ui-monospace, SFMono-Regular, Menlo, Monaco,
    Consolas, 'Liberation Mono', 'Courier New', monospace;
  --font-retro: 'SH Pinscher', ui-monospace, SFMono-Regular, Menlo, Monaco,
    Consolas, 'Liberation Mono', 'Courier New', monospace;
  --font-sans: 'Ysabeau Office Variable', ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: 'Labrada Variable', ui-serif, Georgia, Cambria,
    'Times New Roman', Times, serif;
}

@utility image-pixelated {
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: -moz-crisp-edges;
  image-rendering: pixelated;
}

/*******************************************************************************
 * FONTS
 ******************************************************************************/

/*
 * SH Pinscher
 * https://www.fontsquirrel.com/fonts/sh-pinscher
 */
@font-face {
  font-family: 'SH Pinscher';
  font-weight: 400;
  src: url('/fonts/SHPinscher/SHPinscher-Regular.woff2') format('woff2'),
    url('/fonts/SHPinscher/SHPinscher-Regular.woff') format('woff'),
    url('/fonts/SHPinscher/SHPinscher-Regular.otf') format('opentype');
}

/*
 * SH Pinscher
 * https://www.fontsquirrel.com/fonts/Silkscreen
 */
@font-face {
  font-family: 'Silkscreen';
  src: url('/fonts/Silkscreen/Silkscreen-Bold.woff2') format('woff2'),
    url('/fonts/Silkscreen/Silkscreen-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Silkscreen Expanded';
  src: url('/fonts/Silkscreen/Silkscreen-Expanded.woff2') format('woff2'),
    url('/fonts/Silkscreen/Silkscreen-Expanded.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Silkscreen';
  src: url('/fonts/Silkscreen/Silkscreen.woff2') format('woff2'),
    url('/fonts/Silkscreen/Silkscreen.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Silkscreen Expanded';
  src: url('/fonts/Silkscreen/Silkscreen-ExpandedBold.woff2') format('woff2'),
    url('/fonts/Silkscreen/Silkscreen-ExpandedBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/*******************************************************************************
 * GLOBAL CSS
 ******************************************************************************/

html {
  scroll-behavior: smooth;
}
