/* https://tailwindcss.com/docs/installation/framework-guides/nextjs */
@import 'tailwindcss';
@import 'tailwindcss';
/* https://github.com/tailwindlabs/tailwindcss-typography */
@plugin '@tailwindcss/typography';
@import 'highlight.js/styles/tokyo-night-light.min.css';

/* https://tailwindcss.com/docs/dark-mode */
@custom-variant dark (&:where(.dark, .dark *));

/* https://tailwindcss.com/docs/upgrade-guide#hover-styles-on-mobile */
@custom-variant hover (&:hover);

/* https://tailwindcss.com/docs/theme */
@theme {
  --color-theme-gray-100: #dddddd;
  --color-theme-gray-200: #bebebe;
  --color-theme-gray-400: #858585;
  --color-theme-gray-600: #2b2b2b;
  --color-theme-gray-700: #212121;
  --color-theme-gray-800: #121212;

  --color-theme-red-200: #ea552d;
  --color-theme-red-400: #e51716;
  --color-theme-red-600: #92080f;
  --color-theme-red-800: #5e040e;

  --color-theme-orange-200: #e4a20d;
  --color-theme-orange-400: #c97b07;
  --color-theme-orange-600: #ad5d01;
  --color-theme-orange-800: #883b01;

  --color-theme-yellow-200: #fffe81;
  --color-theme-yellow-400: #e8db6d;
  --color-theme-yellow-600: #bfa850;
  --color-theme-yellow-800: #a78a3f;

  --color-theme-tan-200: #f6e4d4;
  --color-theme-tan-400: #d4bea5;
  --color-theme-tan-600: #a18a74;
  --color-theme-tan-800: #846c5f;

  --color-theme-green-200: #c1e955;
  --color-theme-green-400: #91cf30;
  --color-theme-green-600: #61b327;
  --color-theme-green-800: #44941a;

  --color-theme-blue-100: #81acdb;
  --color-theme-blue-150: #4578b0;
  --color-theme-blue-200: #1e5898;
  --color-theme-blue-400: #1b3562;
  --color-theme-blue-600: #15233e;
  --color-theme-blue-800: #0c0f1d;

  --font-cursive: var(--font-cursive);
  --font-mono: var(--font-mono);
  --font-pixel: var(--font-pixel);
  --font-retro: var(--font-retro);
  --font-sans: var(--font-sans);
  --font-serif: var(--font-serif);
}

/* https://github.com/tailwindlabs/tailwindcss-typography */
@utility prose {
  /* links */
  a {
    @apply text-theme-red-400 font-normal;
  }

  /* quoted text */
  blockquote {
    @apply px-2 py-4 bg-blue-300/40 dark:bg-gray-800/40;

    > *:first-child {
      @apply mt-0;
    }

    > *:last-child {
      @apply mb-0;
    }

    p,
    ul {
      @apply not-italic font-normal;

      /* Hide quotes */
      &::before,
      &::after {
        @apply hidden;
      }
    }
  }

  /* inline code */
  code {
    @apply rounded-lg p-1 bg-zinc-200 dark:bg-zinc-900 font-normal;

    /* Hide backticks */
    &::before,
    &::after {
      @apply hidden;
    }
  }

  /* YouTube embeds */
  div[data-ntpc='YouTubeEmbed'] {
    lite-youtube {
      @apply max-w-full! rounded-xl;
    }
  }

  /* Headings */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold mt-4! mb-2!;
  }

  img {
    @apply my-0! rounded-xl mx-auto max-h-110;
  }

  /* block code */
  pre {
    @apply bg-transparent m-0 px-0! max-h-200 overflow-auto;

    code {
      @apply rounded-xl overflow-x-auto;
    }
  }
}

/* https://github.com/tailwindlabs/tailwindcss-typography */
/* @utility prose-invert {
} */

/* Forces an image to render with nearest-neighbor scaling to appear pixelated */
@utility image-pixelated {
  image-rendering: pixelated;
}

:root {
  color-scheme: light;
}

:root[data-theme='dark'] {
  color-scheme: dark;
}
