/* https://tailwindcss.com/docs/installation/framework-guides/nextjs */
@import 'tailwindcss';
@import 'tailwindcss';
/* https://github.com/tailwindlabs/tailwindcss-typography */
@plugin '@tailwindcss/typography';
/* https://github.com/PrismJS/prism-themes */
@import '../../public/styles/prism/prism-one-light.css';
/* https://github.com/lin-stephanie/rehype-callouts */
@import 'rehype-callouts/theme/obsidian';

/* https://tailwindcss.com/docs/dark-mode */
@custom-variant dark (&:where(.dark, .dark *));

/* https://tailwindcss.com/docs/upgrade-guide#hover-styles-on-mobile */
@custom-variant hover (&:hover);

/* https://tailwindcss.com/docs/theme */
@theme {
  --color-theme-gray-50: #f3f3f3;
  --color-theme-gray-100: #dddddd;
  --color-theme-gray-200: #bebebe;
  --color-theme-gray-400: #858585;
  --color-theme-gray-600: #2b2b2b;
  --color-theme-gray-700: #212121;
  --color-theme-gray-800: #121212;

  --color-theme-red-200: #ea552d;
  --color-theme-red-400: #e51716;
  --color-theme-red-600: #92080f;
  --color-theme-red-800: #5e040e;

  --color-theme-orange-200: #e4a20d;
  --color-theme-orange-400: #c97b07;
  --color-theme-orange-600: #ad5d01;
  --color-theme-orange-800: #883b01;

  --color-theme-yellow-200: #fffe81;
  --color-theme-yellow-400: #e8db6d;
  --color-theme-yellow-600: #bfa850;
  --color-theme-yellow-800: #a78a3f;

  --color-theme-tan-200: #f6e4d4;
  --color-theme-tan-400: #d4bea5;
  --color-theme-tan-600: #a18a74;
  --color-theme-tan-800: #846c5f;

  --color-theme-green-200: #c1e955;
  --color-theme-green-400: #91cf30;
  --color-theme-green-600: #61b327;
  --color-theme-green-800: #44941a;

  --color-theme-blue-100: #81acdb;
  --color-theme-blue-150: #4578b0;
  --color-theme-blue-200: #1e5898;
  --color-theme-blue-400: #1b3562;
  --color-theme-blue-600: #15233e;
  --color-theme-blue-800: #0c0f1d;

  --font-cursive: var(--font-cursive);
  --font-mono: var(--font-mono);
  --font-pixel: var(--font-pixel);
  --font-retro: var(--font-retro);
  --font-sans: var(--font-sans);
  --font-serif: var(--font-serif);
}

/* https://github.com/tailwindlabs/tailwindcss-typography */
@utility prose {
  & > * {
    @apply mx-auto!;

    /* Make certain elements wider */
    &:not(.full-width) {
      @apply max-w-3xl!;
    }
  }

  /* Displays content as two columns on larger devices */
  .two-columns {
    @apply flex flex-col md:flex-row items-center [&>*]:flex-1 gap-4;
  }

  /* links */
  a {
    @apply text-theme-red-400;
  }

  /* quoted text */
  blockquote {
    @apply px-2 py-4 bg-blue-300/40 dark:bg-gray-800/40 not-italic font-normal border-blue-300! dark:border-gray-800!;

    > *:first-child {
      @apply mt-0;
    }

    > *:last-child {
      @apply mb-0;
    }

    p,
    ul {
      /* Hide quotes */
      &::before,
      &::after {
        @apply hidden;
      }
    }
  }

  /* inline code */
  code {
    @apply rounded-lg p-1 bg-zinc-200 dark:bg-zinc-900 font-normal not-italic break-words;

    /* Hide backticks */
    &::before,
    &::after {
      @apply hidden;
    }
  }

  /* YouTube embeds */
  div[data-ntpc='YouTubeEmbed'] {
    lite-youtube {
      @apply max-w-full! rounded-xl;
    }
  }

  /* https://github.com/Robot-Inventor/rehype-image-caption */
  figure {
    figcaption {
      @apply text-center italic text-gray-400 dark:text-gray-500;
    }
  }

  /* Headings */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold mt-4! mb-2!;
  }

  img,
  video {
    @apply my-4! rounded-xl mx-auto max-h-110;
  }

  /* block code */
  pre {
    @apply p-0! rounded-b-lg! rounded-t-none! bg-gray-100! dark:bg-theme-gray-800!;

    code {
      @apply float-left min-w-full max-h-200 p-0! rounded-none bg-gray-100! dark:bg-theme-gray-800!;

      .code-line {
        @apply block px-2;

        &:first-child {
          @apply pt-2;
        }

        &:last-child {
          @apply pb-2;
        }

        &.inserted {
          @apply bg-green-100 dark:bg-green-950;
        }

        &.deleted {
          @apply bg-red-100 dark:bg-red-950;
        }

        &.highlight-line {
          @apply bg-yellow-100 dark:bg-yellow-700/20;
        }

        &.line-number::before {
          @apply inline-block text-end content-[attr(line)] w-6 mr-2 text-gray-500 text-xs;
        }
      }
    }
  }

  strong {
    @apply text-inherit! font-bold;

    a {
      @apply font-bold!;
    }
  }

  /* https://github.com/rockchalkwushock/rehype-code-titles */
  .rehype-code-title {
    @apply relative z-1 top-5.5 md:top-6 -mt-6 px-8 font-mono text-sm md:text-base overflow-hidden text-ellipsis whitespace-nowrap;

    &:has(+ .text-white) {
      @apply text-white;
    }

    &:has(+ .text-black) {
      @apply text-black;
    }
  }
}

/* https://github.com/tailwindlabs/tailwindcss-typography */
/* @utility prose-invert {
} */

/* Forces an image to render with nearest-neighbor scaling to appear pixelated */
@utility image-pixelated {
  image-rendering: pixelated;
}

:root {
  color-scheme: light;
}

:root[data-theme='dark'] {
  color-scheme: dark;
}
