.heading {
  animation: fade 1s steps(4, end) 6s normal both,
    floatDown 1.2s steps(3, end) infinite forwards;
}
.dither,
.dither * {
  fill: currentColor;
}

@keyframes floatDown {
  from {
    transform: translateY(-14px);
  }

  to {
    transform: translateY(0);
  }
}
