.section {
  background-repeat: repeat;
  background-size: 256px 256px;
  animation: backdropSlide 8s steps(80, end) infinite;
}

.background {
  background-size: 72px 72px;
  background-repeat: repeat-x;
}

.icon {
  background:
  linear-gradient(to right, theme("colors.theme.red.400") 4px, transparent 4px) 0 0,
  linear-gradient(to right, theme("colors.theme.red.400") 4px, transparent 4px) 0 100%,
  linear-gradient(to left, theme("colors.theme.red.400") 4px, transparent 4px) 100% 0,
  linear-gradient(to left, theme("colors.theme.red.400") 4px, transparent 4px) 100% 100%,
  linear-gradient(to bottom, theme("colors.theme.red.400") 4px, transparent 4px) 0 0,
  linear-gradient(to bottom, theme("colors.theme.red.400") 4px, transparent 4px) 100% 0,
  linear-gradient(to top, theme("colors.theme.red.400") 4px, transparent 4px) 0 100%,
  linear-gradient(to top, theme("colors.theme.red.400") 4px, transparent 4px) 100% 100%;
  background-repeat: no-repeat;
  background-size: 24px 24px;

  transition: background-color 0.1s steps(2, end),
    transform 0.2s steps(2, end),
    color 0.2s steps(2, end) 0.1s;
}

@keyframes backdropSlide {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -256px 256px;
  }
}
