.form.intro {
  animation-name: scaleY;
  animation-duration: 0.5s;
  animation-timing-function: steps(4, end);
  animation-delay: 3.5s;
  animation-direction: normal;
  animation-fill-mode: both;
  animation-iteration-count: 1;
}

.callout.intro {
  animation-name: animateCallout;
  animation-duration: 5s;
  animation-timing-function: steps(4, end);
  animation-delay: 4s;
  animation-direction: normal;
  animation-fill-mode: both;
  animation-iteration-count: 1;
}

@keyframes scaleY {
  0% {
    transform: scaleY(0%);
  }

  50% {
    transform: scaleY(70%);
  }

  100% {
    transform: scaleY(100%);
  }
}

@keyframes animateCallout {
  0% {
    color: transparent;
  }

  20% {
    color: revert;
  }

  80% {
    opacity: 100%;
  }

  100% {
    opacity: 0%;
    pointer-events: none;
  }
}
